bio==1.7.1
chembl_structure_pipeline==1.2.2
duckdb==1.2.1
fastparquet==2024.5.0
h5py==3.14.0
huggingface-hub==0.34.4
matplotlib==3.9.2
pandarallel==1.6.5
pandas==2.3.2
polars==1.33.0
pyarrow==17.0.0
pyyaml==6.0.1
rdkit==2024.3.5
requests==2.32.3
ruff==0.12.10
safetensors==0.6.2
scikit-learn==1.5.2
scipy==1.16.1
seaborn==0.13.2
selfies==2.1.2
setuptools==75.1.0
tensorboard==2.18.0
tensorflow==2.18.0
torchmetrics==1.4.0.post0
tqdm==4.66.5
